<header class="navbar my-2">
  <section class="navbar-section">
    <a href="/" class="btn btn-link">Main page</a>
  </section>
  <section class="navbar-section">
    <a href="#" class="btn btn-link">
      <span class="badge" x-data x-bind:data-badge="$store.globalStore.bookmarksCounter">
        Wish List
      </span>
    </a>
  </section>
</header>
